.ytstmp-mrkr{
  background-color:#00FFFF;
  width:.35%;
  z-index:100000;
  height:175%;
  position:absolute;
  top:-0.35em;
  transition: all .15s ease-in-out;
  transform: translateX(-.175%);
}

.ytstmp-mrkr:hover{
  width:1.2%;
  -webkit-transform: translateX(-42.5%);
  transform: translateX(-42.5%);
}

.ytstmp-description{
  visibility: hidden;
  font-size: 2em;
  white-space: nowrap;
  position:absolute;
  top:-5.84em;
  padding: .1rem;
}

.ytstmp-mrkr:hover .ytstmp-description{
  background-color: black;
  z-index: 1000 !important;
  visibility: visible;
}

#right{
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

#center{
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}